server:
  port: ${PORT:8080}

spring:
  application:
    name: cpss
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    hikari:
      initialization-fail-timeout: 0
      connection-timeout: 30000
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  main:
    allow-bean-definition-overriding: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    drop-first: true

logging:
  level:
    com.seibel.cpss.loader.DataLoader: INFO
    org.springframework.security.config.annotation.authentication.configuration: ERROR